[package]
name = "profile-bee"
version = "0.1.0"
edition = "2021"
publish = false

include = [
  "build.rs",
  "Cargo.toml",
  "files.rs",
  "src/**/*.rs",
  "bin/**/*.rs",
]

[dependencies]
aya = { version = ">=0.11", features=["async_tokio"] }
aya-log = "0.1"
profile-bee-common = { path = "../profile-bee-common", features=["user"] }
anyhow = "1.0.42"
clap = { version = "4.0", features = ["derive"] }
env_logger = "0.9"
log = "0.4"
tokio = { version = "1.18", features = ["macros", "rt", "rt-multi-thread", "net", "signal", "time"] }
thiserror = "*"
addr2line = "*"
proc-maps = "*"
inferno = "0.11.10"

[[bin]]
name = "profile-bee"
path = "bin/profile-bee.rs"

